body{
	background-color: lightblue;
	
}
h1{
	color:beige;
	text-align:justify;
}
p{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:10pt;
	color:crimson;
}
h2{
	color:chocolate;
}